./packages/api/node_modules
./packages/hidra/node_modules
./packages/nix/node_modules
./packages/protos/node_modules

node_modules/
data/

packages/**/dist
!packages/protos/dist

yarn-error.log

hidden/